#cardHover{
  transition: 1s;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(90deg, rgba(85, 84, 84, 0.5), rgba(44, 43, 43, 0.3)), url(assets/IMG-20210127-WA0008.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 80%;
    height: 58%;
    max-width: 1280px;

    display: flex;

}
.left{
    width: 50%;
    height: 100%;

    color: cornsilk;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left h1{
    font-size: 4.5rem;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 70%;
}
.left a{
    width: 90%;
    height: 35px;
    background-color: cornsilk;
    color: rgb(50, 89, 216);
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.left a:hover{
    background-color: rgb(197, 194, 194);
}
.right{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.right img{
    width: 580px;
}

h1 {
    vertical-align: baseline;
    font-size: 45.0pt;
    letter-spacing: 2px;
    line-height: 1;
    font-family: Lato, sans-serif;
    white-space: pre-wrap;
}